[Desktop Entry]
Name=Akira
Comment=Display up to 4 stacked images or text with a global keyboard shortcut
Exec=/usr/bin/python3 /var/home/s/Documents/shortcutForDisplayingImage/main.py
Icon=/var/home/s/Documents/shortcutForDisplayingImage/unnamed.jpg
Type=Application
Categories=Utility;
Terminal=false
